div.search-bar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 26rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.search-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.search-bar form a img {
  width: 10rem;
  height: 8rem;
  margin-top: -1rem;
  margin-right: 15rem;
}

div.search-bar form div.search-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1.5rem !important;
}

div.search-bar form div.search-part input {
  width: 35rem !important;
  height: 2.3rem;
}

div.search-bar form div.search-part button {
  width: 5rem;
  height: 2.3rem;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  border: #cecbcb 1px solid;
  cursor: pointer;
}

div.search-bar form div.search-part button i {
  color: gray;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div.search-bar form div.search-part button:hover button {
  background-color: #757474;
}

div.search-bar form div.search-part button:hover i {
  color: #2e2e2e;
}

div.search-bar form button.microphone {
  margin-top: -1.5rem !important;
  margin-left: 1rem;
  border: none;
  border-radius: 50%;
  background-color: #f0f5f0;
  cursor: pointer;
}

div.search-bar form button.microphone i {
  font-size: 1.5rem;
  color: #777676;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div.search-bar form button.microphone:hover i {
  color: #252525;
}

div.video-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

div.video-item img.snippet-img {
  width: 12rem;
  cursor: pointer;
}

div.video-item div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.video-item div.content div.header {
  font-size: 1.1rem;
  cursor: pointer;
}

div.video-item div.content div.channel-title {
  margin-top: 13px;
  margin-bottom: 2px;
  font-size: 13px;
  color: #6e6a6a;
  cursor: pointer;
}

div.video-item div.content div.content-description {
  font-size: 13px;
  color: #6e6a6a;
  cursor: pointer;
}

div.video-detail {
  margin-left: 25px;
}

div.video-detail div h2 {
  margin-top: 1rem !important;
}

div.video-detail div p.full-detail {
  margin-left: 20px !important;
  color: #6e6a6a;
  cursor: pointer;
}
/*# sourceMappingURL=componentSstyles.css.map */